
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<nav class="  upperNav navbar navbar-expand-lg navbar-light ">
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
          <div class="nav-item"><a class=" navhead" style="color:#3BA8D1; font-size: 20px;font-weight: 700;">Placeholder</a></div>
          <div class="nav-item"><a class=" navmid1"style="color:#2777D1;  font-size: 15px;font-weight: 500;">Over ons</a></div>
          <div class="nav-item"><a class="navmid" style="color:#2777D1;  font-size: 15px;font-weight: 500;">Diensten</a></div>
          <div class="nav-item"><a class="navmid" style="color:#2777D1;  font-size: 15px;font-weight: 500;">Voor werknmers</a></div>
          <div class="nav-item"><a class="navmid " style="color:#2777D1;  font-size: 15px;font-weight: 500;">Niews</a></div>
          <div class="nav-item"><a class="navmid" style="color:#2777D1;  font-size: 15px;font-weight: 500;">Contact</a></div>
          <div class="nav-item"><a class="navmid2" >  <button class="btnn"><span><img class="img"src="assets/Imgs/arrow.png"><img class="img2" src="assets/Imgs/hmn.png"><span class="align">Inloggen</span></span></button></a></div>
         

    
  </div>
   
  
</nav>
<!---- <div class="container"> 
  <div class="nv">
      <div class="in-div">
          <h5>Placeholder</h5>
      </div>
      <div class="in-div2">
          <p>Over ons</p>
          <p>Diensten</p>
          <p>Voor werknmers</p>
          <p>Niews</p>
          <p>Contact</p>
      </div>
      <div class="in-div3">
          <button class="btnn"><span><img class="img"src="Imgs/arrow.png"><img class="img2" src="Imgs/hmn.png"><span class="align">Inloggen</span></span></button>
      </div>
  </div>   
 
</div> -->

<div class=" snd">

<img class="bannerImg img-responsive" height="689"  src="assets/Imgs/fullimagee.png">

</div>  

<div class="middle"> 
  <div class="center-box">
      <div class="inner-box1">
          <div class="verzium">Verzium<span class="pin"><img class="pin_img"src="assets/Imgs/pin.png"></span></div>
          
              <a class="verzium_details">verziumbegeleiding</a>
              <a class="verzium_details">verziumbegeleiding en - training</a>
              <a class="verzium_details">Casemanagement</a>
              <a class="verzium_details1">Psychisch verzium spreekur</a>  
      </div>

      <div class="inner-box2">
          <div class="prventie">prventie<span class="pin"><img class="pin_img"src="assets/Imgs/medical.png"></span></div>
          <a class="verzium_details">Gezondheidscheck</a>
          <a class="verzium_details">Duurzame inzetbaarheid</a>
          <a class="verzium_details">Griepprik & vaccinaties</a>
          <a class="verzium_details1">verkplekonderzoek</a>
      </div>

      <div class="inner-box3">
          <div class="keuringen">keuringen<span class="pin"><img class="pin_img" src="assets/Imgs/check.png"></span></div>
          <a class="verzium_details">Rijbewijs</a>
          <a class="verzium_details">keuringen</a>
          <a class="verzium_details">Chauffeurs keuringen </a>
          <a class="verzium_details1">Bodemsanerings keuringen</a>
      </div> 
  </div> 
  
  <div class="below-box">
      <div class="set">
              <div class=" row" >
                  <div class="col-lg-4 col-md-4 "><div class="circle"><span><img class="star" src="assets/Imgs/star.png"></span></div></div>
                  <div class=" col-lg-8 col-md-8 ">
                      <div class="jaar">8 Jaar evaring</div>
                      <div class="jaar-inner">in deze sector</div>
                  </div>
              </div>   
          </div>
          <div class="set1">
              <div class=" row" >
                  <div class="col-md-3 col-md-3 "><div class="circle"><span><img class="building" src="assets/Imgs/building.png"></span></div></div>
                  <div class=" col-lg-9 col-md-9 ">
                      <div class="jaar">3 vestigingen</div>
                      <div class="jaar-inner">In Breda, Roosendaal & Rotterdaan</div>
                  </div>
              </div>   
          </div>
          <div class="set1">
              <div class=" row" >
                  <div class="col-lg-4 col-md-4 "><div class="circle"><span><img class="file" src="assets/Imgs/file.png"></span></div></div>
                  <div class=" col-lg-8 col-md-8 col-sm-8">
                      <div class="jaar">8 Jaar evaring</div>
                      <div class="jaar-inner">in deze sector</div>
                  </div>
              </div>   
          </div>
  </div>  
  <div class="third-part">
      <div>
          <img class="nurse" src="assets/Imgs/nurse.png">
      </div>
      <div class="article">
          <div class="heading">Wij Zin placeholder</div>
          <div class="content">Een kleine gcertificeerde full-service placeholder. Maar dan op een
              persoonlijke, transparante en no-nonsense manier. En dat es een pluspunt. Niet alien voor jouw
              als ondememer, maar ook voor jouw medewerkers. Want gezonde medewerkers staan aan de basis van jouw success.
          </div>

          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="arrowbtn"><span class="rightarrst"><span class="cntnt">meer over ons</span><img src="assets/Imgs/right.png"></span></div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6">
                  <a href="#" class="contact">Contact opnemen</a>
              </div>
          </div>
      </div>

     

  </div> 
  <div class="secondarticle">
      
      <div class="row secondarticleinner">
          
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="pos">
         <div class="col-lg-9"> 
              <div class="headings">Wij zin eer oook voor de</div>

              <div class="contents">Een kleine gcertificeerde full-service placeholder. Maar dan op een
                  persoonlijke, transparante en no-nonsense manier. En dat es een pluspunt. Niet alien voor jouw
                  als ondememer, maar ook voor jouw medewerkers. Want gezonde medewerkers staan aan de basis van jouw success.</div>
                  <div class="row">
                     <div class="col-lg-5 col-md-5 col-sm-5">
                  <div class="arrowbtn"><span class="rightarrst"><span class="cntnt">voor werknmers</span><img src="assets/Imgs/right.png"></span></div>
                  </div> 
                  <div class="col-lg-5 col-md-5 col-sm-5">
                      
                  </div>
                  </div>    
              </div>
               </div>
      </div> 
     
     <div class="col-lg-6 col-md-6 col-sm-6">
     <img   class="pos" src= "assets/Imgs/new.png" > 
     </div>
     </div>
    
  </div> 

  <div class="Nieuws">
      <div class="Nieuws_hd">
          <div class="Nieiws_heading">Nieuws</div>
          <div class="Nieiws_heading_right">Meer Nieuws</div>
      </div>
      <div class="cards">    
          <div class="card_size">
              <div class="date">12 sept</div>
              <img class=" st img-responsive " width="290" src="assets/Imgs/c1.png">
              <div class="card_content">Hier rimte voor de titel van het nieuwsberitch</div>
           </div>
           <div class="card_size">
              <div class="date">8 Aug</div>
              <img class=" st img-responsive " width="290" src="assets/Imgs/c2.png">
              <div class="card_content">Hier rimte voor de titel van het nieuwsberitch</div>
           </div>
           <div class="card_size">
              <div class="date">7 juni</div>
              <img class=" st img-responsive " width="290" src="assets/Imgs/c3.png">
              <div class="card_content">Hier rimte voor de titel van het nieuwsberitch</div>
           </div>
           
      </div>
  </div> 
</div>
  <div class="footer_background">
      <img  class=" img-responsive footerleft"  src="Imgs/footerleft.png">
      <img  class=" img-responsive footerupperright "src="Imgs/up.png">

      <img  class=" img-responsive footerlowerright"src="Imgs/footerlowerright.png">
      <div class="footer_content">
          <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <div class="footer_heading">
                      Menu
                  </div> 
                  <div class="link_distance"><a href="#" class="footer_links">Over ons</a></div>
                  <div class="link_distance"><a href="#"class="footer_links">Diensten</a></div>
                  <div class="link_distance"><a href="#"class="footer_links">voor werknmers</a></div>
                  <div class="link_distance"><a href="#"class="footer_links">Nieuws</a></div>
                  <div class="link_distance"><a href="#"class="footer_links">Contact</a></div>
                 
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2">
                  <div class="footer_heading">
                      Diensten
                  </div> 
                  <div class="link_distance"><a href="#" class="footer_links">Verzium</a></div>
                  <div class="link_distance"><a href="#"class="footer_links">Preventie</a></div>
                  <div class="link_distance"><a href="#"class="footer_links">keuringen</a></div>
                 
              </div>

              <div class="col-lg-2 col-md-2 col-sm-2">
                  <div class="footer_heading">
                      Contact
                  </div>
                  <div class="footer_heading2">
                      Breda
                  </div> 
                  <div class="link_distance1"><a href="#" class="footer_links">Tel. 076-000 000</a></div>
                  <div class="link_distance1"><a style="color:#4ADEDE; font-size: 13px;" href="#"class="footer_links">Routebeschrijving</a></div>
                  <div class="footer_heading2" style="padding-top: 30px;">
                      Roosendal
                  </div> 
                  <div class="link_distance1"><a href="#" class="footer_links">Tel. 0165-000 000</a></div>
                  <div class="link_distance1"><a style="color:#4ADEDE; font-size: 13px;" href="#"class="footer_links">Routebeschrijving</a></div>

                 
              </div>

              
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <div class="footer_heading2" style="padding-top: 30px; position: absolute; top: 50px;">
                      Roosendal
                  </div> 
                  <div class="link_distance1" style="position: absolute; top: 100px;"><a href="#" class="footer_links">Tel. 0165-000 000</a></div>
                  <div class="link_distance1"style="position: absolute; top: 120px;"><a style="color:#4ADEDE; font-size: 13px;" href="#"class="footer_links">Routebeschrijving</a></div>
              </div>
              </div>

            
          </div>
      </div>
  

  <div class="footer">
          <div class="row ">
              <div class="col-lg-2 col-md-2 col-sm-2"></div>
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <div  class="footerplaceholder">
                      Placeholder
                  </div>                        
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1">
                  <div  class="foot">
                      woorwarden
                  </div>                        
              </div>
              <div class="col-lg-0.5 col-md-0.5 col-sm-0.5">
                  <div  class="foot">
                      |
                  </div>                        
              </div>
              <div class="col-lg-1.5 col-md-1.5 col-sm-1.5">
                  <div  class="foot">
                      privacy statement
                  </div>                        
              </div>
              <div class="col-lg-0.5 col-md-0.5 col-sm-0.5">
                  <div  class="foot">
                      |
                  </div>                        
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1">
                  <div  class="foot">
                      Disclaimer
                  </div>                        
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1"></div>
              <div class="col-lg-1 col-md-1 col-sm-1"><img src="assets/Imgs/t.png"></div>
              <div class="col-lg-0.5 col-md-0.5 col-sm-0.5"><img src="assets/Imgs/ln.png"></div>
              


        
            
          </div> 
  </div>



